[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU.git
[submodule "samsung-exynos9820"]
	path = samsung-exynos9820
	url = https://github.com/CruelKernel/samsung-exynos9820.git
